<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JakebInvManager"
        tools:targetApi="31">

        <!-- Define LoginActivity here -->
        <activity android:name=".controller.LoginActivity"
            android:exported="true">
            <!-- If this activity is the entry point of the app (login screen), add the following filter -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Define SignUpActivity here -->
        <activity android:name=".controller.SignUpActivity" />

        <!-- Define MainActivity here -->
        <activity android:name=".controller.MainActivity">
            <!-- Optional: Define intent filters if needed -->
            <!-- For example, to make it accessible from other activities -->
        </activity>

    </application>
</manifest>
